html
  head
    title Test
  body
    rui-nav(fixed)
      rui-container
        rui-nav-item(type="brand") sWiki
        rui-nav-item(align="right") S

    script(src='js/es6-promise.min.js')
    script(src='js/fetch.js')
    script(src='js/lodash.min.js')
    script(src='js/riot.min.js')
    script(src='js/riot-ui.js')
    script(src='js/swiki.js')
